---
interface Props {
	title: string;
	description: string;
	href: string;
}

const { href, title, description } = Astro.props;
---

<div class="font-base text-zinc-50 rounded-[0.75em] flex flex-col border-[1px] border-zinc-800 p-4">
	<ul class="gap-2 flex-col flex">
		<li class="text-base font-['Satoshi'] flex flex-row font-bold"><a href={href}>{title}</a></li>
		<li class="text-base font-['Inter'] text-zinc-300">{description}</li>
	</ul>
</div>